body {
  background-repeat: no-repeat;  
  background-size: 100%;
  background-image: url(./images/backgroundQuiz.jpg);
  min-height: 100vh; 
  margin: 0; 
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 20px;
    color: black;
  }

  #question {
      text-align: center;
      font-size: 22px;
      font-weight: bold;
  }

  #playerInitials{
    width: 60%;
  }
  h3 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }

  h4 {
    text-align: justify;
    font-style: initial;
    font-size: 20px;
    border-style: dotted;
    border-radius: 5px;
    border-width: 3px;
    border-spacing: 2px;
    padding: 5px;
    color: purple;
  }
  #done{
      text-align: center;
      font-size: 22px;
      font-weight: bold;
  }
  .card {
    background-color:pink;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: purple 4px 8px 8px 4px;
    color:black;
    margin: 0 auto;
    width: 60%;
    padding: 50px 40px;
    box-sizing: border-box;
  }

  .btn {
    border: none;
    background-color: purple;
    border-radius: 25px;
    color: white;
    display: block;
    font-size: 22px;
    line-height: 22px;
    margin: 0 auto;
    padding: 14px 14px;
    text-align: center;
    width:100%;
    white-space: normal;
    word-wrap: break-word;
  }

  .start {
    width: 30%;
  }

  .footer {
    text-align: center;
  }

  .next {
    width:50%; 
    display: inline-block; 
  }

  #play {
    width: 40%;
  }

  #clear {
    width: 40%;
  }

  #submit {
    width: 30%;
  }

  .scoreAndTime {
      font-size: 22px;
      border-radius: 25px;
      font-weight: bold;
      display: inline-block;
      text-align: center;
      width:15%; 
      padding: auto;
  }

  li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #ff5d88;
    color: black;
    font-size: 22px;
    line-height: 1.5;
}

li button {
    float: right;
    border: none;
    height: 40px;
    cursor: pointer;
    background-color: #ff9500;
    color: white;
    font-size: 1em;
}
  
#final-score { 
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: purple;
}

#displayScores {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

 
 @media screen and (max-width: 500px) {
   .btn {
       width: 100%;
       text-align: center;
   }

   #start 
   {
    width: 100%;
    text-align: center; 
  }
   #next
   {
    width: 100%;
    text-align: center; 
  } 
   #play 
   {
    width: 100%;
    text-align: center; 
  }
   #submit
   {
    width: 100%;
    text-align: center; 
  } 
   #clear
   {
    width: 100%;
    text-align: center; 
  }
  li button {
    width: 100%;
    text-align: justify;
  }

  .scoreAndTime {
    display: block;
    text-align: center;
    width:100%;
    white-space: normal;
    word-wrap: break-word;
    margin: 10px;
    
  }
 
 }
 
 /* Smartphones (portrait and landscape) ----------- */
 @media only screen and (min-device-width : 320px) {
   .btn {
       width: 100%;
       text-align: center;
   }

   #start 
   {
    width: 100%;
    text-align: center; 
  }
   #next
   {
    width: 100%;
    text-align: center; 
  } 
   #play 
   {
    width: 100%;
    text-align: center; 
  }
   #submit
   {
    width: 100%;
    text-align: center; 
  } 
   #clear
   {
    width: 100%;
    text-align: center; 
  }

  li button {
    width: 100%;
    text-align: justify;
  }
  .scoreAndTime {
    display: block;
    text-align: center;
    width:100%;
    white-space: normal;
    word-wrap: break-word;
    margin: 10px;
  }
 
   }
 